.ui {
    z-index: var(--ifm-z-index-dropdown);
    max-width: 375px;
    font-size: 32px;

    &.block {
        margin: var(--ifm-spacing-vertical) var(--ifm-spacing-horizontal);
        // padding: calc(var(--ifm-spacing-vertical) * 2) calc(var(--ifm-spacing-horizontal) * 2);
        // boxShadow: var(--ifm-global-shadow-lw);
        min-height: 50px;
    }

    .content {
        position: relative;
        transform-origin: top left;
        transform: scale(0.5);
        width: 200%;
        height: 200%;
    }
}
